Med Rev08 #7 IETF Network Slice Service Compute

5.2.6.  IETF Network Slice Service Compute

You may explain why a specific node is needed compared to using native NETCONF options such as: 

test-option: The <test-option> element MAY be specified only if the device advertises the :validate:1.1 capability ([Section 8.6](https://www.rfc-editor.org/rfc/rfc6241#section-8.6)). The <test-option> element has one of the following values: test-then-set: Perform a validation test before attempting to set. If validation errors occur, do not perform the <edit-config> operation. This is the default test-option. set: Perform a set without a validation test first. test-only: Perform only the validation test, without attempting to set. 

For example, "admin-pre-deployment" can be used  to show the status

Med：Why not defining a new type for the intended usage?

"compute-only" Figure:
Med
What if the check is not available immediately?
I would not mention the protocol used in the interface.


Propose the following text to clarify:

The Network Slice "admin-status" and the connection groups or connectivity construct list are used to convey the result. For example, "**admin-compute-only**" can be used to show the status. Customers can query the "compute-only" connectivity constructs attributes, or can subscribe to be notified when the connectivity constructs status change.

The "compute-only" applies only if the data model is used with a protocol that does not natively support such operation, e.g. [RFC8040]. When using NETCONF, <edit-config> operation (Section 7.2 of [RFC6241]), "test-only" of the <test-option> parameter also applies