Med Rev-09 comments on type gauge of “bw-value” and “performance-metrics-packet groupings" 

On 20240220, Med made the comments at ML :

1. * data nodes used for monitoring (e.g., incoming-bw-value) should be of type gauge. 
2. * I think that this has to be fixed for the set of *-performance-metrics-packet metrics
3. * btw, as you are reusing *-performance-metrics-packet groupings and these groupings has default values, I wonder whether you assessed the implications on the reported values in the NSSM.

After some investigation of RFC8776 and current bis document, I think we can accept this. The type defined in RFC 8776 is based on TE protocols, e.g. OSPF-TE. And the default values are not clear to me.
We may adapt the TE types to gauge.

Suggest to define NS specific performance-metrics as following:
  grouping one-way-performance-metrics {
    description
      "One-way PM metrics grouping.";
    leaf one-way-min-delay {
      type yang:gauge64;
      description
        "One-way minimum delay or latency in microseconds.";
    }
    leaf one-way-max-delay {
      type yang:gauge64;
      description
        "One-way maximum delay or latency in microseconds.";
      reference
        "RFC7679: A One-Way Delay Metric for IP Performance
         Metrics (IPPM)";
    }
    leaf one-way-delay-variation {
      type yang:gauge64;
      description
        "One-way delay variation in microseconds.";
      reference
        "RFC3393: IP Packet Delay Variation Metric for IP Performance
         Metrics (IPPM)";
    }
    leaf one-way-packet-loss {
	type percentage;
      description
        "The ratio of packets dropped to packets transmitted between
         two endpoints.";
      reference
        "RFC7680: A One-Way Loss Metric for IP Performance
         Metrics (IPPM)";
    }
  }

  grouping two-way-performance-metrics {
    description
      "Two-way packet PM metrics grouping.";
    leaf two-way-min-delay {
      type yang:gauge64;
      description
        "Two-way minimum delay or latency in microseconds.";
      reference
        "RFC2681: A Round-trip Delay Metric for IPPM";
    }
    leaf two-way-max-delay {
      type yang:gauge64;
      description
        "Two-way maximum delay or latency in microseconds.";
      reference
        "RFC2681: A Round-trip Delay Metric for IPPM";
    }
    leaf two-way-delay-variation {
      type yang:gauge64;
      description
        "Two-way delay variation in microseconds.";
      reference
        "RFC5481: Packet Delay Variation Applicability Statement";
    }
    leaf two-way-packet-loss {
      type percentage;
      description
        "The ratio of packets dropped to packets transmitted between
         two endpoints.";
    }
  }

          container sdp-monitoring {
            config false;
            description
              "Container for SDP monitoring metrics.";
            leaf incoming-bw-value {
              type yang:gauge64;
              units "bps";
              description
                "Indicates the absolute value of the incoming
                 bandwidth at an SDP from the customer network or
                 from another provider's network.";
            }
            leaf incoming-bw-percent {
              type percentage;
              units "percent";
              description
                "Indicates a percentage of the incoming bandwidth
                 at an SDP from the customer network or
                 from another provider's network.";
            }
            leaf outgoing-bw-value {
              type yang:gauge64;
              units "bps";
              description
                "Indicates the absolute value of the outgoing
                 bandwidth at an SDP towards the customer network or
                 towards another provider's network.";
            }
            leaf outgoing-bw-percent {
              type percentage;
              units "percent";
              description
                "Indicates a percentage of the outgoing bandwidth
                 at an SDP towards the customer network or towards
                 another provider's network.";
            }
          }